
header{
    background-color:rgb(120, 200, 229);
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    
}
nav a {
    color:white;
    background-color:rgb(243, 211, 67);
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}
.logo{
    height: 70px;
    width: 70px;
}
body {

    font-family: sans-serif;
    background-color:rgb(254, 227, 138);
}

h1{
text-align: center;
color: white;
}
.banner {
 width: 600px; 
 border: 4px solid white;
 border-radius: 10px;  
}
a{
    text-decoration: none;
    border-radius: 10px; 
}
footer a{
  color:peru;
    text-align: center;   
}
 

footer img{
   height: 50px;
    width: 50px;
    text-align: right; 
}

main img {
    height: 300px;
    width: 300px;
    text-align: right; 
}

td img{
    height: 150px;
    width: 150px;
}
h2 {
 text-align: center;  
}

h3{
  text-align: center;  
}

footer {
     background-color:rgb(120, 200, 229);
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    color: white;
}



.center{
    text-align: center;

}

nav{
    text-align: center;
}
