header img{
    width: 300px;
    background-color: white;
    border-radius: 10px ;
    padding: 10px;
    margin: 5px;
}
header{
    text-align: center;
}
body{
    background-color:#ff474c ;
}
nav a{
    text-decoration: none;
    font-size: 24px;
    margin: 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
.eeeer{
    background-color: white;
    border-radius:10px ;
    padding: 15px;
    font-size: 20px;
}
.qqq{
    height: 200px;
    text-align: left;
}
.efef{
    height: 200px;
    width: 200px;
    text-align: right;
}
.trtr{
    font-size: 25px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.rere{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.asas{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 15px;
}
.vbvb{
    height: 15px;
}
footer{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.nmnm{
    background-color:#ff474c ;
    border-radius: 7px;
    padding: 5px;
    color:white ;
}
nav{
    padding-top: 15px;
}
.tyty{
    height: 20px;
}


